* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: antiquewhite;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#password {
  width: 350px;
  padding: 18px;
  font-size: 1.5rem;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 5px;
}
#password:focus {
  outline: none;
}
